<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="message" th:if="${param.error}">
                Invalid Username or Password
            </div>
            <div class="message" th:if="${param.logout}">
                Logout Successfuly
            </div>
            
            <h1>Iniciar Sesion</h1>
            <form th:action="@{/login}" method="post">
                <label for="username">Usuario:</label>
                <input type="email" id="username" name="username" required>
        
                <label for="password">Contraseña:</label>
                <input type="password" id="password" 
                name="password" required>
                
                <input class="btn" type="submit" value="Iniciar Sesión">
                
                
                
            </form>
            <button class="secundario-boton sing-button">
                <div class="form-a">
                    <a th:href="@{/registration}">Crear Cuenta?</a>
                </div>
            </button>
            
        </div>
        <div class="image-container">
            <img src="" alt="">
        </div>
    </div>
</body>
</html>
