<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/menu-tabla.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header__contenedor">
            <h1>Cerdos Pink</h1>
        </div>
        <div class="header__contenedor--items">
            <div class="header__contenedor--ayuda">
                <a href="">Ayuda</a>
            </div>
            <span>|</span>
            <div class="header__contenedor--Contactos">
                <a href="">Usuario</a>
            </div>
            <span>|</span>
            <div class="header__contenedor--Cerrar">
                <a th:href="@{/logout}">Cerrar Sesion</a>
            </div>
        </div>
        <div class="nav__bars">
            <div class="nav__toggle" id="bars">
                <i class="fa-solid fa-bars"onclick="toggleMenu()"></i>
            </div>
            
        </div>
    </header>
    <nav>
            <ul class="ul__menu">
                <div class="nav__menu--item">
                    <li><i class="fa-sharp fa-solid fa-house"></i><a href="/">Inicio</a></li>
                </div>
                <div class="nav__menu--item">
                    <li><i class="fa-solid fa-registered menu"></i><a href="/menu">Registros Menu</a></li>
                </div>
                <div class="nav__menu--item">
                    <li><i class="fa-solid fa-database"></i><a href="/menu-tablas">Tablas</a></li>
                </div>
            </ul>
    </nav>
    <div class="contenedor__flotante" id="menu">
        <ul class="Contenedor__ul">
            <div class="contenedor__salir">
                <i id="salir"class="fa-solid fa-xmark"onclick="toggleMenu()"></i>
            </div>
            <li class="menu-item"><a class="a-m" href="/">Inicio</a></li>
            <li class="menu-item"><a class="a-m" href="/menu">Menu</a></li>
            <li class="menu-item"><a class="a-m" href="/menu-tablas">Tablas</a></li>
        </ul>
    </div>
    <section class="contenido">
        <h2>Bienvenido al mejor software para la gestión de cerdos</h2>
        <p>Descripción breve del software y sus beneficios.</p>
    </section>
    <section class="registro">
        <h3>Tablas</h3>
    </section>
    <section class="cont__registro">
        <div class="container">
<!--puede servir tanto asi: href="/tabla-cerdo" como asi: th:href="@{/tabla-cerdo}" -->
            <button class="bot"><b><a class="col" th:href="@{/tabla-cerdo}">Tabla de Cerdos</a></b></button>
            <button class="bot"><b><a class="col" th:href="@{/tabla-animal-for-user}">Tabla de animales</a></b></button>
            <button class="bot"><b><a class="col" href="/tabla-celo">Tabla de Celo</a></b></button>
            <button class="bot"><b><a class="col" href="/mostrar-datos-tabla">Tabla de Monta</a></b></button>
            <button class="bot"><b><a class="col" href="/mostrar-gestacion-tabla">Tabla de Gestacion</a></b></button>
            <button class="bot"><b><a class="col" href="/mostrar-preparto-tabla">Tabla de Preparto</a></b></button>
            <button class="bot"><b><a class="col" href="/mostrar-parto-tabla">Tabla de Parto</a></b></button>
            <button class="bot"><b><a class="col" href="/tabla-manejo.html">Tabal de manejo</a></b></button>
            <button class="bot"><b><a class="col" href="/tabla-peso.html">Tabla de Peso</a></b></button>
            <button class="bot"><b><a class="col" href="/tabla-deseste.html">Tabal de deseste</a> </b></button>
                    </div>
    </section>
    <footer>
        <p>Derechos de autor © 2023 Software para Cerdos</p>
    </footer>
    <script src="/js/responsivo.js">
        
    </script>
</body>
</html>