<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/tabla-parto.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="header__contenedor">
            <img src="/img/cerdo (2).png" alt=>
            <div class="nombre-logo">
                <h2>Cerdos Pink</h2>
            </div>
        </div>
        <div class="header__contenedor--items">
            <div class="header__contenedor--ayuda">
                <a href="">Ayuda</a>
            </div>
            <span>|</span>
            <div class="header__contenedor--Contactos">
                <a href="">Usuario</a>
            </div>
            <span>|</span>
            <div class="header__contenedor--Cerrar">
                <a th:href="@{logout}">Cerrar Sesion</a>
            </div>
        </div>
        <div class="nav__bars">
            <div class="nav__toggle" id="bars">
                <i class="fa-solid fa-bars"onclick="toggleMenu()"></i>
            </div>
            
        </div>
    </header>
    <nav>
            <ul class="ul__menu">
                <div class="nav__menu--item">
                    <li><i class="fa-sharp fa-solid fa-house"></i><a th:href="@{/}">Inicio</a></li>
                </div>
                <div class="nav__menu--item">
                    <li><i class="fa-solid fa-registered menu"></i><a th:href="@{/menu}">Registros Menu</a></li>
                </div>
                <div class="nav__menu--item">
                    <li><i class="fa-solid fa-database"></i><a th:href="@{/menu-tablas}">Tablas</a></li>
                </div>
            </ul>
    </nav>
    <div class="contenedor__flotante" id="menu">
        <ul class="Contenedor__ul">
            <div class="contenedor__salir">
                <i id="salir"class="fa-solid fa-xmark"onclick="toggleMenu()"></i>
            </div>
            <li class="menu-item"><a class="a-m" th:href="@{/}">Inicio</a></li>
            <li class="menu-item"><a class="a-m" th:href="@{/menu}">Menu</a></li>
            <li class="menu-item"><a class="a-m" th:href="@{/menu-tablas}">Tablas</a></li>
        </ul>
    </div>
    <section class="contenido">
        <h2>Bienvenido al mejor software para la gestión de cerdos</h2>
        <p>Descripción breve del software y sus beneficios.</p>
    </section>
    <section class="cont__tabla">
        <h3>Tabla De Parto</h3>
        <div class="contenedor__btn">
        <!-- Formulario para buscar por dni -->
        <form th:action="@{/buscar-por-dni-animal-parto}" method="get">
            <div class="btn_hijo">
                <input class="bus" type="text" id="searchInput" name="dni" placeholder="Buscar por Dni" pattern="[0-9]*" inputmode="numeric" title="Por favor, ingrese solo números"  required>            </div>
            <div class="btn_hijo">
                <button class="btn" type="submit" required>Buscar</button>
            </div>
           
        </form>
        </div>
    
    
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dni Preparto</th>
                <th>dniPrepartoHembra</th>
                <th>fechaPreparto</th>
                <th>Lechones Vivos</th>
                <th>Lechones Muertos</th>
                <th th:if="${animalParto != null}">Acciones</th> <!-- Columna de acciones -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="registro : ${animalPartoList}">
                <td th:text="${registro.id}"></td>
                <td th:text="${registro.dni}"></td>
                <td th:text="${registro.dniPreparto}"></td>
                <td th:text="${#dates.format(registro.fechaParto, 'dd-MM-yyyy')}"></td>
                <td th:text="${registro.lechonesVivos}"></td>
                <td th:text="${registro.lechonesMuertos}"></td>
                <td th:if="${animalParto != null}"> <!-- Mostrar acciones solo si se encuentra un animal -->
               
                <!-- Celdas para acciones (Editar, Eliminar, etc.) -->
                <!-- <td>...</td> -->
            </tr>
            
        </tbody> 
        
         <!-- Detalles del animal encontrado por búsqueda -->
    <tbody th:if="${animalParto != null}">
        <tr>
            <td th:text="${animalParto.id}"></td>
            <td th:text="${animalParto.dni}"></td>
            <td th:text="${animalParto.dniPreparto}"></td>
            <td th:text="${animalParto.fechaParto}"></td>
            <td th:text="${animalParto.lechonesVivos}"></td>
            <td th:text="${animalParto.lechonesMuertos}"></td>
        
            <td> <!-- Acciones para el animal encontrado -->
                <div class="form-group--btn">
                   <!-- <button class="bt">
                        <a class="btn-1" th:href="@{'/animal_for_user/editar/' + ${animal.id}}">Editar</a>
                    </button>-->
                </div>
            </td>
        </tr>
    </tbody>
    </table>
    
    </section>
    <footer>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=61553875659336">
                <img src="/img/facebook.png" alt="Facebook">
            </a>
            <a href="mailto:tucorreo@gmail.com" target="_blank" rel="noopener noreferrer">
                <img src="/img/gmail-1.png" alt="Gmail">
            </a>
        </div>
        <p>© 2023 Cerdos pink | Todos los derechos reservados</p>
    </footer>
   
    <script th:src="@{/js/responsivo.js}"></script>
</body>
</html>