:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #26D026;
    --sm:14px;
    --md:16px;
    --lg:25px;
    }
    .header__contenedor{
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }
    .header__contenedor img{
        width: 60px;
        height: 60px;
    }
    .header__contenedor h2{
        color: var(--white);
        font-weight: bold;
        font-size: var(--lg);
    }
    .nombre-logo{
        text-align: center;
    }
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header__contenedor{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.header__contenedor img{
    width: 60px;
    height: 60px;
}
.header__contenedor h2{
    color: var(--white);
    font-weight: bold;
    font-size: var(--lg);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #333;
    
}
.header__contenedor > h1{
    color: #fff;
}
.header__contenedor--items{
    display: flex;
    justify-content: space-around;
    width: 400px;
    height: 50px;
    align-items: center;
    text-align: center;

}
.header__contenedor--ayuda > a{
    color: #fff;
}
.header__contenedor--Contactos > a{
    color: #fff;

}
.header__contenedor--Cerrar > a{
    color: #fff;
}
.header__contenedor--Cerrar a:hover{
    color: #333;
}
.header__contenedor--Cerrar{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    
}
.header__contenedor--Cerrar:hover{
    scale: 1;
    transition: .10;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    background-color: #cacaca;
    
}
.header__contenedor--Cerrar:active{
    scale: .7;
    transform: translateY(0);
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);


}
.nav__bars{
    font-size: 30px;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
}
.ul__menu li{
    display: inline;
}
.nav__menu--item{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    margin: auto;
}
.menu{
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
} 
.fa-sharp{
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
} 

.nav__menu--item:hover {
    border-radius: 14px;
    background-color: #cacaca;
    
    
}
.fa-database{
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
}
a{
    text-decoration:none;
    color: black;
}
li > a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
}
.ul__menu{
    display: flex;
    justify-content: space-between;
    margin: auto;

}
.contenedor__flotante li > a{
    color: #000;
}
.contenedor__flotante{
    position: fixed;
    top:0px;
    right: 0;
    width: 100%;
    height: 100%;
    transition: right 0.5s ease-in-out;
    text-transform: uppercase;
    display: none;
    z-index: 10;
}
@media(max-width:700px){
    .ul__menu,
    .header__contenedor--items{
        display: none;
    }
    .nav__bars{
        display: flex;
    }
    nav{
        display: none;
    }
}
@media(max-width:665px){
    .contenedor__flotante{
    backdrop-filter: blur(5px);
    transition: height.05s cubic-bezair(0.175,0.855,0.32,10275);
    display: none;
    justify-content: right;
    }
    .Contenedor__ul{
    width: 160px;
    height: 100%;  
    }
}
.Contenedor__ul{
    width: 160px;
    background-color: #333;
    list-style: none;
    position: relative;
}
.menu-item{
    text-align: center;
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.menu-item:hover{
    background-color: #585757;
    scale: .9.9;
}
.Contenedor__ul li a{
    color: #f0f0f0;
}

.contenedor__salir{
    display: flex;
    justify-content: right;
    color: #fff;
    font-size: 30px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}
/*contenido centro*/
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

/* Estilos del formulario */
form {
    max-width: 400px;
    padding: 20px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input,
select {
    width: calc(100% - 22px); /* Considera el ancho del borde y padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px; /* Espacio entre campos */
    background-color: #F7F7F7;
}

.btn {
    padding: 10px 2px;
    font-size: 16px;
    background-color: #3498DB; /* Color azul para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Considera el ancho del borde y padding */
}
.btn-1 {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498DB; /* Color azul para el botón */
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: calc(100% - 22px); /* Considera el ancho del borde y padding */
}
.b-a{
    color: #fff;
    font-weight: bold;
}
.form-group-1{
    display: grid;
    grid-template-columns: 1fr;
}



/* Estilos responsivos */
@media screen and (max-width: 600px) {
    form {
        max-width: 100%;
    }

    input,
    select{
        width: 100%;
    }
.form-group-1{
    display: grid;
    place-items: center;
    width: 100%;
}
button{
    width: 100%;
}
.container{
    box-shadow: none;
}
    }



.contenido {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
